<a href="https://colab.research.google.com/github/sawao7/cdle_youth_handson_nlp_1/blob/sawada/sawada/nishika_nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [ ]:
df_test = pd.read_csv("/content/drive/MyDrive/Nishika/NLP/test.csv")
df_train = pd.read_csv("/content/drive/MyDrive/Nishika/NLP/train.csv")
df_sample_submission = pd.read_csv("/content/drive/MyDrive/Nishika/NLP/sample_submission.csv")

In [ ]:
df_train.head()

           id  isFake                                               text
0  d19828eb64       1  Cによると、アメリカの元大統領で、最長寿だったジョージ・ウォーカー・ブッシュ氏が27日(C-...
1  dfaab096bd       0  中日新聞によると、コナミカップ・プロ野球アジアシリーズ2007の決勝戦・日本の中日ドラゴンズ...
2  163504bf95       1  愛媛Cは、11月12日にリーグ準加盟の承認を受けて、来期リーグ加盟を目指す愛媛Cに対して、鈴...
3  ed3c9dc579       0  国民日報によると3日、7時50分（UTC+9、日本時間と同じ）大韓民国京畿道平沢市の西海岸（...
4  e06f88267f       1  共同通信によると、5日午後2時過ぎから東京都、神奈川県、千葉県の3都県の広い範囲の地域で停電...

In [ ]:
df_test.head()

           id                                               text
0  d253d7b7ac  共同通信によると、ペルーの政党「シ・クンプレ」が、6日、中央選管である全国選挙評議会 (JN...
1  fcfe44d0a0  自殺した川田亜子さんの元恋人とされる、映画監督で平和活動家のマット・テイラー氏が、川田さんが...
2  213caf5cf5  沖縄タイムスによると、アメリカ軍の海兵隊・二等軍曹(38歳)が2月10日深夜、沖縄市の公園近...
3  15aefc8374  動画投稿サイト「C2」に人気ドラマやバラエティ番組を投稿したとして、著作権法違反(公衆送信権...
4  aded40e220  報道機関各社によると、12月1日、東京都内で日本プロ野球の2次ドラフトが初めて行われた。サン...

In [ ]:
df_sample_submission.head()

           id  isFake
0  d253d7b7ac       0
1  fcfe44d0a0       0
2  213caf5cf5       0
3  15aefc8374       0
4  aded40e220       0

In [ ]:
len(df_test)

3781

In [ ]:
len(df_train)

3781

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3781 non-null   object
 1   isFake  3781 non-null   int64
 2   text    3781 non-null   object
dtypes: int64(1), object(2)
memory usage: 88.7+ KB

In [ ]:
X_train = df_train["text"]
y_train = df_train["isFake"]
X_train

0       Cによると、アメリカの元大統領で、最長寿だったジョージ・ウォーカー・ブッシュ氏が27日(C-...
1       中日新聞によると、コナミカップ・プロ野球アジアシリーズ2007の決勝戦・日本の中日ドラゴンズ...
2       愛媛Cは、11月12日にリーグ準加盟の承認を受けて、来期リーグ加盟を目指す愛媛Cに対して、鈴...
3       国民日報によると3日、7時50分（UTC+9、日本時間と同じ）大韓民国京畿道平沢市の西海岸（...
4       共同通信によると、5日午後2時過ぎから東京都、神奈川県、千葉県の3都県の広い範囲の地域で停電...
                              ...
3776    読売新聞によると、1月19日未明3時10分ごろ大分市の建設コンサルタント会社社長宅が全焼する...
3777    シリアのガジ・カナン内相が12日自殺したとシリアの国営通信社SANAが同日伝えた。自殺は大き...
3778    朝日新聞によると、日本陸上連盟は12月18日に行った理事会で、女子単独の国際大会となる北京オ...
3779    Cによると、中国のインターネット中毒が中国で正式に病気として認定されるのは来年になる見通しで...
3780    読売新聞他が伝えたところによると、第164回国会(臨時会)は9月24日(以下同)から召集され...
Name: text, Length: 3781, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0, stratify=y_train)

In [ ]:
df_train["text"].values

array(['Cによると、アメリカの元大統領で、最長寿だったジョージ・ウォーカー・ブッシュ氏が27日(C-5)、ロサンゼルス市内の自宅で死去した。ブッシュ大統領とジョージ・W・ブッシュ前アメリカ合衆国副大統領は、これを悲しみに打ちひしがれた。 ウォーカー氏は50年、娘のステファニーさんが妊娠中に死去したと報じられていた。亡くなった後、ブッシュ大統領とブッシュ前米国大統領事館前ですれ違ったのが、ジョージ・ウルフ氏とジョージ・ケリー氏の2人。ウルフ氏はウルベス氏(現・ヘンリー・マンシーナ元首相)から「彼はもうすぐ来る」と言われている。ハリウッドは世界で唯一ウルベス氏の名が歴史から消えた存在であり、ウルベス氏自身でさえもウルベス氏の死に気づいていない。 ハリウッドはウルベス氏の死後、その遺体を受け継いでいるため、ハリウッドが「ウルベス・カウボーイ」に投票するという選択肢はハリウッド以外に存在しない。ウルベス氏は、ハリケーン以来27年間、ハリウッドから姿を消している。ウルベス氏が亡くなってすぐに、アメリカはウルベス氏を大統領に任命するが、15年間の大統領生活でハリウッドに戻ることはなかった。ウルベス氏は死の2か月後、自分の墓を「ハリウッドの墓地」と名付けて、自宅の敷地に自分の名前を付けることを決断した。 しかも15年間のハリウッド人生で最後の妻と結婚した、この人の最後の子はウルベス・ケリーである。ケリーが死ぬことで、ウルベス・カウボーイとしてのハリウッドの生活が終わりを告げることは必至である。 こうした点で、ウルベス氏の死に批判的なのは、ウルベス氏自身であろう。なぜハリウッドからの追放を決断したのか。ウルベス氏の死後、ハリウッド市民がどう思うのかは知らないが、彼が「死んだら何もかも終わり」と思った結果、追放を決意したのでなければ言えない。ウルベス・ウォーカーというハリウッドの政治家が、自分の息子に死の選択をさせるように仕向けたのだ。皮肉にも、ハリウッドはウルベス・ケリーの死の時期にハリウッド崩壊を招いたといえる。ウルベス氏の死を最後に「ハリウッドの崩壊」を望んだウルベス氏の息子であるハリー・ケリー氏は、「ハリー・ケリーはハリウッドのハリウッドの将来を宣告したのが奇妙だが、ハリウッドの政治家は誰も彼の発言を支持しないし、彼の娘や息子も、ウルベス氏の死後、彼の息子に関する発言を肯定することは無い。彼らの中にウルベス・カウボーイという言葉が無いのだから、ハリウッドの政治家たちは誰も彼のことは呼ばない。 この二人、ウルベス・ケリーは、彼らの娘や息子が自らの仕事や家族がハリウッドの将来のために働いたことに関して「自分たちのものにならないとハリウッドの人生が終わってしまう」と反対している。ケリーはその後の結婚に関して、彼女がウルベスの息子であろうとする態度を取っていると見るべきだろう。',
       '中日新聞によると、コナミカップ・プロ野球アジアシリーズ2007の決勝戦・日本の中日ドラゴンズ対韓国リーグのSKワイバーンズの試合が11月11日東京ドームであり、中日が6-5で勝ってアジアシリーズ初優勝を決めるとともに、大会が創設された2005年の千葉ロッテ、2006年の北海道日本ハムに次ぎ、日本のチームが3年連続してアジアチャンピオンを獲得した。中日と日刊スポーツによると、1回・SKが2本のヒットで2点を先制すると、中日は2回に井上がレフトへのホームランを打って1点を返した。その後5回、1アウトから藤井がタイムリー2塁打で同点に追いつき、更に荒木が3塁ゴロから1点を追加して逆転。6回に李炳圭が2ランホームランを打って更にリードを広げたが、8回SKが李晋映の2ランホームランを放って同点に追いつかれた。しかし9回中日・井端が再び勝ち越しのタイムリー2塁打を打って接戦を制した。中日によると、今大会MVP（最優秀賞）は井端が選ばれた。日刊によると、中日は今大会初戦で、SKに大敗し同大会で日本勢初黒星を喫したが、落合監督はすぐに打線の組み替えなどを敢行して選手の競争意識を高め、残りの予選リーグ2試合、そしてこの決勝戦で3連勝を果たしてアジアチャンピオンを決めた。試合後のインタビューで「この重圧はペナントレース（リーグ戦）、日本シリーズとは違った。アジアシリーズ4試合でアジアの力は殆どないんじゃないでしょうか。今は勝ててホッとしています」と語り、来年については「リーグ優勝したかったという気持ちがある。やるからには完全優勝」と、ペナントレースとの日本3冠を目指す姿勢を見せていた。',
       '愛媛Cは、11月12日にリーグ準加盟の承認を受けて、来期リーグ加盟を目指す愛媛Cに対して、鈴木チェアマンは最低限の条件をクリアしたとの見解を示した。※なお、1963年（昭和38年）までのリーグ昇格内定メンバーには、との条件が適用される。このように、リーグ昇格内定メンバーは、昇格内定メンバーがリーグに加入すると、リーグ昇格のための参加条件が適用されることが多い。ただし、リーグァンチャーレのチームについて、チーム活動を引き続き継続する意向を示したことから、リーグ所属の選手を対象とした、チーム活動を休止する「活動休止処分」へ移行した。 同年の第141回都市対抗野球大会に香川・愛媛Cは、香川県予選から、愛媛・愛媛Cが、出場する全試合を戦って勝ち抜くと、史上最年少としてMLB12球団史上最年少でシーズンMVP(最優秀選手賞)に輝いた。 同大会は、第6回社会人野球日本選手権競技大会に、27年ぶりに出場することとなった。その後も、リーグ戦は27年ぶりに5勝3敗で勝ち上がり、29年ぶりにAクラス入りを果たした高知・高知ファイティングドッグスは初の都市対抗野球に出場しベスト4まで勝ち進んだ。',
       ...,
       '朝日新聞によると、日本陸上連盟は12月18日に行った理事会で、女子単独の国際大会となる北京オリンピック女子マラソン日本代表選考会について、2009年を持って大会終了することを決め、女子単独での大会を2008年11月開催の30回大会を持って終了することを発表した。2009年は、2010年の北京五輪女子マラソンと同じ開催となる。2013年の平昌オリンピックでも女子マラソン日本代表選考会を開催した後、2016年、2019年も女子マラソン日本代表選考会を開催しないものの、北京五輪でも開催されている。出場条件は全競技で2時間以内に1勝した上で、その競技の成績の一部としてメダルを獲得した者（日本代表に選出される）とされているが、五輪実施国ではない日本の陸上界は、2008年のみの出場を認めている。',
       'Cによると、中国のインターネット中毒が中国で正式に病気として認定されるのは来年になる見通しで、それまでネット中毒を賭博やアルコール中毒と同等に扱うようになるという。だがその後、ネット依存症は中国に残された。 2010年、国家衛生委員会(NHC)の諮問機関「香港科学技術諮まこじ-」は、現在の中国のインターネット環境の問題を憂慮したときに使われる用語を以下のように定義した。・通信技術技術省の考え方も浮上している。 インフルエンザが流行する中にもかかわらず、マスクは感染予防を目的に、手の消毒や手洗いが義務付けられている。これは安全管理が完璧といえるのだろうかと思うかもしれないが、ここで問題点が生じる。マスクの中にゴム製マスクを挟んでいたり、手が感染症等に感染しても問題ないと思われないよう、マスクは手洗いをしていない。    これについて質問したい。 ここで問題になるのは、マスクの内側は殺菌、消毒、消毒を行われておらず、そのまま感染源となってしまうのではないかと危惧する。そのうえで、日本のマスク文化と言うと、「マスク着用」という言葉だけが残されてしまっているのではないかと推測する。',
       '読売新聞他が伝えたところによると、第164回国会(臨時会)は9月24日(以下同)から召集され、10月22日(同)に投開票される衆議院総選挙・参議院議員通常選挙について日程が近付いた。さらに10月27日に臨時国会を開催。それと同時に衆議院は衆議院の解散式で解散を宣言し、この10月27日に衆議院解散を議決。これから3日間の特別国会を開き、同年12月14日に衆議院を解散。翌12月15日の発表について議員が発言しなければならないと述べたという。これは、2010年に衆議院で開催された2010年全国選挙法改正案に反対する新党や、政府与党の新党を支持する議員の活動が行われた2010年10月の参議院総選挙は、政府与党側の反対意見もあり、その後に国会が開会される4年に一度の衆議院総選挙に参加が遅れていたことに対する抗議と思われる。2004年2月22日未明に発生した東日本大震災による東京電力福島第一原子力発電所事故により、福島5区の自民党内から福島4区を支持する議員が相次いで離党する動きも報じられたが、震災から1週間後の2月24日に行われた衆議院の臨時会で、3月8日に「国民の声」を受けて、5区との同選挙区の統合を訴えた。2004年10月に日本共産党を離党した日本共産党福島支部長の小平昌弘を福島5区の比例名簿作成支援会長として迎えて代表選立候補することを表明した。2004年10月12日の参議院通常国会に福島5区で出馬し、比例代表の補選では福島5区の第4位から第2位の得票で当選し、第4代当選者となった。なお、比例代表で当選したのは、福島3区の小平昌弘だけである。2005年2月24日、福島5区補欠選挙での福島5区補欠選挙で落選したため、福島5区の当選者発表を待たずに2005年福島民与党の結党を前提に入党した。2005年9月の第23回参議院議員通常選挙では現職当選の小平昌弘と、新社会党の新人の大内弘一らの支援を受けて無所属で出馬（当選）し（小平昌弘は16年ぶり7人目の福島5区の当選者となった）、1位通過だったものの比例復活することなく落選している。現在は、NHK番組審議会で福島5区から福島民野党への出馬表明が報じられ、同年10月15日に「東日本大震災に対する東日れあ支持を表明した党員及び党の意向に合わせた団体・団体の意見を代表し、説明を求める」旨の回答書を発表。これを受けて、日本共産党は10月17日の福島7区補欠選挙の福島7区補欠選挙に小平昌弘を擁立することを表明した。小平昌弘は出馬を表明し、選挙人団と党員数から1分の1の得票で得票を得た。'],
      dtype=object)

# TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# max_features を上げると良い
vectorizer = TfidfVectorizer(max_features=10000)

In [ ]:
X_train = vectorizer.fit_transform(X_train.values)
X_valid = vectorizer.transform(X_valid.values)

In [ ]:
X_train

<2646x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 25528 stored elements in Compressed Sparse Row format>

In [ ]:
import lightgbm as lgb

train_set = lgb.Dataset(X_train, y_train.values)
valid_set = lgb.Dataset(X_valid, y_valid.values, reference=train_set)

In [ ]:
params = {
    "objective" : "multiclass",
    "metric" : "multi_logloss",
    "num_class" : 20
}

In [ ]:
model = lgb.train(
    params = params,
    train_set = train_set,
    valid_sets = [train_set, valid_set],
    num_boost_round = 1000,
    early_stopping_rounds = 20,
    verbose_eval = 10,
)

Training until validation scores don't improve for 20 rounds.
[10]	training's multi_logloss: 0.48846	valid_1's multi_logloss: 0.52981
[20]	training's multi_logloss: 0.418528	valid_1's multi_logloss: 0.480551
[30]	training's multi_logloss: 0.386512	valid_1's multi_logloss: 0.471813
[40]	training's multi_logloss: 0.360341	valid_1's multi_logloss: 0.468095
[50]	training's multi_logloss: 0.340961	valid_1's multi_logloss: 0.475222
Early stopping, best iteration is:
[38]	training's multi_logloss: 0.364402	valid_1's multi_logloss: 0.467695

In [ ]:
df_test

              id                                               text
0     d253d7b7ac  共同通信によると、ペルーの政党「シ・クンプレ」が、6日、中央選管である全国選挙評議会 (JN...
1     fcfe44d0a0  自殺した川田亜子さんの元恋人とされる、映画監督で平和活動家のマット・テイラー氏が、川田さんが...
2     213caf5cf5  沖縄タイムスによると、アメリカ軍の海兵隊・二等軍曹(38歳)が2月10日深夜、沖縄市の公園近...
3     15aefc8374  動画投稿サイト「C2」に人気ドラマやバラエティ番組を投稿したとして、著作権法違反(公衆送信権...
4     aded40e220  報道機関各社によると、12月1日、東京都内で日本プロ野球の2次ドラフトが初めて行われた。サン...
...          ...                                                ...
3776  f87ff9f55f  スポーツニッポンによると、2015年9月12日に投票が行われることになっている(欧州サッカー...
3777  f7bb120e80  朝日新聞・時事通信によると、大韓民国の仁川空港とソウル駅とを結ぶ空港鉄道（KORAIL空港鉄...
3778  09cb71299e  気象庁によると、台風17号「ルンビア」(umbia)は、7日午前10時現在、南鳥島の南西約2...
3779  ce8e47d692  中日新聞、朝日新聞、読売新聞、産経新聞、C、日本放送協会によると、インドネシアは27日、バン...
3780  044c06ac12  25日、高校の一部科目の履修漏れが判明した問題で、26日までに35都道県の254校(内、私立...

[3781 rows x 2 columns]

In [ ]:
test_submit = df_test["text"]
test_submit

0       共同通信によると、ペルーの政党「シ・クンプレ」が、6日、中央選管である全国選挙評議会 (JN...
1       自殺した川田亜子さんの元恋人とされる、映画監督で平和活動家のマット・テイラー氏が、川田さんが...
2       沖縄タイムスによると、アメリカ軍の海兵隊・二等軍曹(38歳)が2月10日深夜、沖縄市の公園近...
3       動画投稿サイト「C2」に人気ドラマやバラエティ番組を投稿したとして、著作権法違反(公衆送信権...
4       報道機関各社によると、12月1日、東京都内で日本プロ野球の2次ドラフトが初めて行われた。サン...
                              ...
3776    スポーツニッポンによると、2015年9月12日に投票が行われることになっている(欧州サッカー...
3777    朝日新聞・時事通信によると、大韓民国の仁川空港とソウル駅とを結ぶ空港鉄道（KORAIL空港鉄...
3778    気象庁によると、台風17号「ルンビア」(umbia)は、7日午前10時現在、南鳥島の南西約2...
3779    中日新聞、朝日新聞、読売新聞、産経新聞、C、日本放送協会によると、インドネシアは27日、バン...
3780    25日、高校の一部科目の履修漏れが判明した問題で、26日までに35都道県の254校(内、私立...
Name: text, Length: 3781, dtype: object

In [ ]:
X_test = vectorizer.transform(test_submit)

In [ ]:
y_test = model.predict(X_test).argmax(axis=1)

In [ ]:
df_sample_submission["isFake"] = y_test

In [ ]:
df_sample_submission

              id  isFake
0     d253d7b7ac       1
1     fcfe44d0a0       0
2     213caf5cf5       1
3     15aefc8374       1
4     aded40e220       1
...          ...     ...
3776  f87ff9f55f       0
3777  f7bb120e80       0
3778  09cb71299e       1
3779  ce8e47d692       1
3780  044c06ac12       1

[3781 rows x 2 columns]

In [ ]:
df_sample_submission.to_csv("submission.csv",index=False)